/bilateral_2_150.bmp
/bilateral_2_20.bmp
/bilateral_2_50.bmp
/bilateral_4_150.bmp
/bilateral_4_20.bmp
/bilateral_4_50.bmp
/example.zip
/gauss_1.0.bmp
/gauss_2.5.bmp
/img4.bmp
/median_1.bmp
/median_2.bmp
/median_3.bmp
/img_result.bmp
